<!--<ul ng-if="vm.items">
  <li ng-repeat="item1 in vm.items">
    <div ng-click="item1.$folded = !item1.$folded">
      <span ng-if="item1.items">
        <span ng-if="!item1.$folded">-</span>
        <span ng-if="item1.$folded">+</span>
      </span>
      {{item1.title}}
    </div>
    <ul ng-if="item1.items">
      <li ng-repeat="item2 in item1.items">
        <div ng-click="item2.$folded = !item2.$folded">
          <span ng-if="item2.items">
            <span ng-if="!item2.$folded">-</span>
            <span ng-if="item2.$folded">+</span>
          </span>
          {{item2.title}}
        </div>
        <ul ng-if="item2.items">
          <li ng-repeat="item3 in item2.items">
            {{item3.title}}
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>-->
<!--
<ul ng-if="vm.items">
  <li ng-repeat="item1 in vm.items">
    <div ng-click="item1.$foldToggle()">
      <span ng-if="item1.$hasChildren()">
        <span ng-if="!item1.$isFolded()">-</span>
        <span ng-if="item1.$isFolded()">+</span>
      </span>
      {{item1.title}}
    </div>
    <ul ng-if="item1.$hasChildren()">
      <li ng-repeat="item2 in item1.items">
        <div ng-click="item2.foldToggle()">
          <span ng-if="item2.$hasChildren()">
            <span ng-if="!item2.$isFolded()">-</span>
            <span ng-if="item2.$isFolded()">+</span>
          </span>
          {{item2.title}}
        </div>
        <ul ng-if="item2.items">
          <li ng-repeat="item3 in item2.items">
            {{item3.title}}
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
-->
<ul>
  <li bf-template="vm.items" ng-repeat="node in $dataSource">
    <div>
      <span ng-if="node.$hasChildren()" ng-click="node.$foldToggle()">
        <span ng-if="!node.$isFolded()">-</span>
        <span ng-if="node.$isFolded()">+</span>
      </span>
      <label>
        <input type="checkbox" bf-check-indeterminate="item1.$isIndeterminate()" ng-model="item1.$checked" ng-model="item1.$checked" ng-change="item1.$setCheckState(node.$checked)"/>
        {{node.title}}
        -
        {{node.poster}}({{node.dateCreated | date}})
      </label>
      <a ui-sref="thread.show({id:node.id, title:node.title, poster:node.poster})">查看</a>
    </div>
    <ul ng-if="node.$hasChildren() && !node.$isFolded()">
      <li bf-recurse="node.items"></li>
    </ul>
  </li>
</ul>
